input[type="text"] {
    text-align: right;
    width: 4em;
}

.number {
    text-align: right;
}

.zero {
    color: rgb(from var(--foreground-color) r g b / 0.25)
}

.outOfSpec {
    background-color: var(--alert-color)
}

table.sortableTable, table.sortableTable th, table.sortableTable td {
    border: 1px solid var(--foreground-color);
}
