input[type="text"] {
    text-align: right;
    width: 4em;
}

.number {
    text-align: right;
}

.zero {
    color: #f0f0f0;
}

.outOfSpec {
    background-color: #ffdddd;
}

table.sortableTable, table.sortableTable th, table.sortableTable td {
    border: 1px solid black;
}
