ol.solutions {
    padding-inline-start: 0;
    white-space: nowrap;
    overflow-x: scroll;
}

li.solution {
    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    padding: 1em;
    margin: 0.5em;
}
