.solution > div.name {
    font-size: 120%;
    font-weight: bold;
}
.solution > div.total_dv {
    font-weight: bold;
}
.solution li.burn {
    list-style-type: "🚀";
}
.solution li.orbit {
    list-style-type: "💫";
}