input[type="text"] {
    width: 5em;
}

.zero {
    color: rgb(from var(--foreground-color) r g b / 0.25)
}

.number {
    text-align: right;
}

.outOfSpec {
    background-color: #ffdddd;
}

table.sortableTable, table.sortableTable th, table.sortableTable td {
    border: 1px solid var(--foreground-color);
}
table.storageTable, table.storageTable th, table.storageTable td {
    border: 1px solid var(--foreground-color);
}
