ol#segments li.Initial {
    list-style-type: "💫 ";
}
ol#segments li.SoIChange {
    list-style-type: "💫 ";
}
ol#segments li.Burn {
    list-style-type: "🚀 ";
}
ol#segments li.CollideOrAtmosphere {
    list-style-type: "💥 ";
}
ol#segments li.end {
    list-style-type: "🛑 ";
}
ol#segments li.processing {
    list-style-type: "⚙️ ";
}

input.SiInput, input.FloatInput, input.DegreesInput {
    width: 4em;
}

input.KerbalYdhmsInput {
    width: 8em;
}
input.KerbalAbsYdhmsInput {
    width: 10em;
}

input.warning {
    background-color: #ffff80;
}
input:read-only {
    background-color: #eeeeee;
}